{# components/_navbar.html.twig #}

{% block nav%}
<ul>
	<li><a href="#">Maison</a></li>
	<li><a href="https://giphy.com/gifs/blind-staircase-redhawk-l5HATnV0nW4PS" target="_blank">Dont click</a></li>
</ul>
{% endblock %}
